<% layout('layout') %>
<h1>All Donations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Message</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>

  <% donations.forEach(donation => { %>
  <tr>
    <td><%= donation.name %></td>
    <td>₹<%= donation.amount %></td>
    <td><%= donation.message %></td>
    <td><%= donation.date.toDateString() %></td>
    <td>
      <a href="/update/<%= donation._id %>" class="btn edit">Edit</a>
      <a href="/delete/<%= donation._id %>" class="btn delete">Delete</a>
    </td>
  </tr>
  <% }) %>
</table>
